to.do=KatsoOikeatArvotAllaOleviinMuuttujiinDokumentaatiosta
to.do2=JaLuoUusiTiedostoIlmanExamplePaatetta

database.host=TOPESECRETSERVICEURL
database.username=THEUBERUSERNAME
database.password=TOPSECRETPASSWORD