<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<bean class="edu.helsinki.sulka.configurations.TestLoginCodeConfiguration">
		<!-- IMPORTANT! SECURITY! Remove below line for production!!! -->
		<constructor-arg type="java.lang.String"
			value="b0d2cc8b16fc2de6bfbee049f2c62415cdb088ab1983eeafdbc3010f0024bc33" />
	</bean>

	<bean class="edu.helsinki.sulka.configurations.SSOLoginPageURLConfiguration">
		<constructor-arg type="java.lang.String" value="http://lintuvaara.ihku.fi/" />
	</bean>

	<bean id="DevAPIConfiguration" class="edu.helsinki.sulka.services.APIService">
		<property name="username" value="bongarit-dev" />
		<property name="password" value="devbongarit" />
		<property name="urlBase" value="https://h92.it.helsinki.fi/tipu-api" />
	</bean>

	<bean id="StagingAPIConfiguration" class="edu.helsinki.sulka.services.APIService">
		<property name="username" value="sulka-test" />
		<property name="password" value="SULKAsulka52" />
		<property name="urlBase"
			value="http://tammitikka.fmnh.helsinki.fi:8081/util-staging" />
	</bean>
</beans>
